.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #fff5f5, #ffe3e3);
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-box label {
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
  color: #555;
}

.login-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  background-color: #fffaf0;
  color: #333;
}

.login-box button {
  margin-top: 20px;
  background-color: #ff4747;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.login-box button:hover {
  background-color: #e03b3b;
  transform: scale(1.03);
}


.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #fff5f5, #ffe3e3);
}

.profile-card {
  text-align: center;
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.profile-img {
  border-radius: 50%;
  margin: 15px 0;
  border: 3px solid #ff4747;
}

.profile-details p {
  margin: 8px 0;
  color: #333;
  font-size: 0.95rem;
}

.logout-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4747;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #e33d3d;
  transform: scale(1.05);
}


.p